asgiref
black
cffi
click
fastapi
flake8
h11
mccabe
mypy-extensions
numpy
pathspec
platformdirs
pycodestyle
pycparser
pydantic
pyflakes
python-multipart
regex
six
SoundFile
SpeechRecognition
starlette
tomli
typing-extensions
uvicorn
Wave
websockets
aiofiles
jinja2
librosa
PySoundFile